body {
    background: var(--bg-main);
}

.container {
    padding: 1rem 4rem;
}

li {
    list-style: none;
    transition: .2s all ease;
}

li:hover {
    color: #777;
    font-style: italic;
}

.flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}