/* src/components/Projects.css */
#projects {
    padding: 60px 80px;
    background-color: #f4f4f4;
    text-align: center;
  }
  
  #projects h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #00b132;
    text-align: center;
  }
  
  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
  }
  
  .project-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 300px;
    text-align: center;
  }
  
  .project-card h3 {
    font-size: 1.5rem;
    color: #007bff;
    margin-bottom: 15px;
  }
  
  .project-card p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
  }
  
  .project-link {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .project-link:hover {
    background-color: #0056b3;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  @media (max-width: 768px) {
    #projects h1 {
      margin-top: 4rem;
    }
  }